{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="hideable-holder">
{{#instance}}
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <!-- Title Row -->
  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>
        Title
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."></i>
      </label>
      <input data-id="title_txtbx" tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
      {{#instance.computed_errors.title}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.title}}
    </div>
  </div>

  <!-- Description & contact block  -->
  <div class="row-fluid">
    <div data-id="description_hidden" class="span6 hidable">
      <label>
        Description
        <i class="fa fa-question-circle" rel="tooltip" title="Provide more details on the purpose of this {{model.model_singular}} and provide context for how and when this {{model.model_singular}} might be used."></i>
        <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
          <rich-text
            tabindex="2"
            {hidden-toolbar}="true"
            {placeholder}="'Enter Description'"
            {(content)}="instance.description">
          </rich-text>
      </div>
    </div>
  </div>

  {{> /static/mustache/partials/modal-ajax-test-plan.mustache}}

  <div class="row">
    <div class="span12 hide-wrap hidable">
      <access-control-list-roles-helper
        {instance}="."
        {is-new-instance}="new_object_form">
      </access-control-list-roles-helper>
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="note_hidden" class="span6 hidable">
      <label>
        Notes
        <i class="fa fa-question-circle" rel="tooltip" title="Append simple text or html notes here."></i>
        <a data-id="hide_note_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
          <rich-text
            tabindex="5"
            {hidden-toolbar}="true"
            {placeholder}="'Enter Notes'"
            {(content)}="instance.notes">
          </rich-text>
      </div>
    </div>
    <div class="span6 hide-wrap hidable">
      <div class="row-fluid inner-hide">
        {{> '/static/mustache/base_objects/modal-content-reference-urls.mustache'}}
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="folder_hidden" class="span6 hidable">
      <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="7">
      </ggrc-gdrive-folder-picker>
    </div>
  </div>

  <!-- Code & network block -->
  <div class="row-fluid">
    <div data-id="code_hidden" class="span6 hidable">
      <label>
        Code
        <i class="fa fa-question-circle" rel="tooltip" title="The GGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input {{^if new_object_form}} disabled {{/if}} data-id="code_txtbx" tabindex="6" class="input-block-level" name="slug" placeholder="TECHNOLOGYENVIRONMENT-XXX" type="text" value="{{slug}}">
    </div>
  </div>

  <div class="row-fluid">
    <effective-dates instance="instance"/>
    <div data-id="state_hidden" class="span4 hidable">
      <label>
        State
        <i class="fa fa-question-circle" rel="tooltip" title="Indicates the status of this object."></i>
        <a data-id="hide_state_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
        <dropdown options-list="model.statuses"
                  name="instance.status"
                  tabindex="23">
        </dropdown>
    </div>
  </div>
</form>
{{/instance}}
</div>
