{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{!div class="modal-body"}}
<div class="hideable-holder">
{{#instance}}
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>
        Title
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Enter Title"></i>
      </label>
      <input data-id="title_txtbx" tabindex="1" id="requirement-title" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
    </div>
    <div data-id="pol_reg_std" class="span6 hidable">
      {{#if_helpers '\\n ^if' instance.id '\\n and ^if' object_params.directive}}
        {{#using directive=instance.directive}}
        <label>
          Policy / Regulation / Standard / Contract
          <i class="fa fa-question-circle" rel="tooltip" title="Policy / Regulation / Standard / Contract containing this Requirement"></i>
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <input tabindex="2" class="input-block-level" name="directive.title" data-lookup="Policy,Regulation,Standard,Contract" data-permission-type="update" data-template="/directives/autocomplete_result.mustache" placeholder="Choose Policy / Regulation / Standard / Contract" type="text" value="{{firstexist directive.title ''}}" />
        {{/using}}
      {{else}}
        &nbsp;
        <input id="directive.id" name="directive" type="hidden" model="Directive" value="{{instance.directive.id}}">
      {{/if_helpers}}
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="text_of_requirement_hidden" class="span6 hidable">
      <label>
        Text of Requirement
        <i class="fa fa-question-circle" rel="tooltip" title="Enter text of requirement"></i>
        <a data-id="hide_text_of_requirement_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
          <rich-text
            tabindex="3"
            {hidden-toolbar}="true"
            {placeholder}="'Enter Description'"
            {(content)}="instance.description">
          </rich-text>
      </div>
    </div>
  </div>

  {{> /static/mustache/partials/modal-ajax-test-plan.mustache}}

  <div class="row">
    <div class="span12 hide-wrap hidable">
      <access-control-list-roles-helper
        {instance}="."
        {is-new-instance}="new_object_form">
      </access-control-list-roles-helper>
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="note_hidden" class="span6 hidable">
      <label>
        Notes
        <i class="fa fa-question-circle" rel="tooltip" title="Append simple text or HTML notes here."></i>
        <a data-id="hide_note_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
          <rich-text
            tabindex="6"
            {hidden-toolbar}="true"
            {placeholder}="'Enter Notes'"
            {(content)}="instance.notes">
          </rich-text>
      </div>
    </div>
    <div class="span6 hide-wrap hidable">
      <div class="row-fluid inner-hide">
        {{> '/static/mustache/base_objects/modal-content-reference-urls.mustache'}}
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="folder_hidden" class="span6 hidable">
      <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="7">
      </ggrc-gdrive-folder-picker>
    </div>
  </div>

  <div>
    <div class="row-fluid">
      <div data-id="code_hidden" class="span4 hidable">
        <label>
          Code
          <i class="fa fa-question-circle" rel="tooltip" title="The GGRC application will automatically provide codes for new objects. If you would like to override this feature you may manually enter a code of your choosing. You should have a specific reason for doing this."></i>
          <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <input {{^if new_object_form}} disabled {{/if}} data-id="code_txtbx" tabindex="8" id="requirement-code" class="input-block-level" name="slug" placeholder="REQUIREMENT-XXX" type="text" value="{{slug}}">
      </div>
      <div class="span4 hidable">
        <effective-dates instance="instance"/>
      </div>
    </div>
    <div class="row-fluid">
      <div data-id="state_hidden" class="span4 hidable">
        <label>
        State
        <i class="fa fa-question-circle" rel="tooltip" title="Indicates the status of this object."></i>
          <a data-id="hide_state_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <dropdown options-list="model.statuses"
                  name="instance.status"
                  tabindex="23">
        </dropdown>
      </div>
    </div>
  </div>
</form>
{{/instance}}
</div>
{{!/div}}
